$height: 100vh;
$width: 100vw;

@function heightWrapper($value){
    @return ($height - ($height - $value));
}

@function widthWrapper($value){
    @return ($width - ($width - $value));
}

@function sizeWH($value){
    @return calc((heightWrapper($value) + widthWrapper($value)/2)/2);
}

.wrapper{
    width: 100%;
    position: relative;
    display: flex;
    grid-template-rows: 1fr auto;
    clear:both;
    min-height: fit-content;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
}

.inputGroup{
    width: 100%;
    text-align: left;
    flex-direction: column;
    margin-top: 50px;
}

.formContent{
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: #fdfdfd;
}

.formContentChild{
    padding: 50px;
}

.logo{
    width: 35%;
    margin-top: 20px;
}

.labelFrom{
    font-size: 5em;
    margin-top: 20px;
}
.titileContent{
    margin-top: 30px;
}

.descriptionContent{
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 10px;
}

.input:valid{
    font-family: "sans-serif";
    font-size: 2.5em;
}
.input:empty{
    font-family: "sans-serif";
    font-size: 2.5em;
}

.input:focus {
    font-family: "sans-serif";
    border: 1px solid #0749a0;
    font-size: 2.5em;
}

.labelLoading{
    font-size: widthWrapper(4);
}

.input{
    margin-top: 30px;
    border-radius: 20px;
    font-size: 2.5em;
    border: 1px solid #dadce0;
    padding: 17px 30px;
    line-height: 24px;
    outline: none;
    width: 100%;
}

.label{
    font-family: "sans-serif";
    text-align: left;
    margin-right: 10px;
    font-weight: 400;
    font-size: 4em;
}

.buttonText{
    font-family: "sans-serif";
    color: #2178eb;
}

.buttonText:hover{
    color: #4e1d8a;
}

.buttonForgotPassword:hover{
    color: #4e1d8a;
}

.buttonForgotPassword{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2178eb;
    background-color: transparent;
    border: none;
    width: fit-content;
    float: right;
    cursor: pointer;
    font-size: 2.5em;
}

.buttonGroups{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonGroup{
    width: 100%;
    font-size: 1em;
}

.labelButtonV1{
    flex-grow: 1;
    float: left;
    color: #1a73e8;
    padding: 30px 50px;
}
.labelButton{
    font-family: "sans-serif";
    border-radius: 9px;
    padding: widthWrapper(3) widthWrapper(2);
    text-align: center;
    font-size: widthWrapper(4);
    border: 0px solid transparent;
    cursor: pointer;
}

.labelButtonV1:hover{
    color: black;
    background-color: #aeaeaf;
}

.labelButtonV2{
    padding: 30px 50px;
    color: white;
    background-color: #282c34;
}

.labelButtonV2:hover{
    background-color: #496294;
}

.labelError{
    text-align: left;
    font-size: widthWrapper(3);
    line-height: widthWrapper(3);
    color: red;
    font-style: italic;
}
