$height: 100vh;
$width: 100vw;

@function heightWrapper($value){
    @return ($height - ($height - $value));
}
@function widthWrapper($value){
    @return ($width - ($width - $value));
}
 @function ratioScreen(){
    @return calc(100vmax/100vmin);
 }
@function sizeWH($value){
    @return calc((heightWrapper($value) + widthWrapper($value)/2)/2);
}

.avatar{
    cursor: pointer;
    width: heightWrapper(3);
    height: heightWrapper(3);
    border-radius: 100%;
    outline: 1px;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #4b1010,
    1px 1px 5px #4b1010,
    inset 1px 1px 5px #fff,
    inset 1px 1px 5px #fff;
}

.moduleRight{
    position: absolute;
    right: 0%;
    top: 20px;
    margin-right: widthWrapper(2);
}