$height: 100vh;
$width: 100%;

@function heightWrapper($value){
    @return ($height - ($height - $value));
}
@function widthWrapper($value){
    @return ($width - ($width - $value));
}

@function sizeWH($value){
    @return calc((heightWrapper($value) + widthWrapper($value)/2)/2);
}

.buttonModalCancel{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    cursor: pointer;
    font-size: 1em;
    padding: 7px 25px;
    border-radius: 10px;
    border: 1px solid #0749a0;
    background-color: #073571;
    color: white;
    min-width: 110px;
    font-family: "Times New Roman", sans-serif;
}

.buttonModalCancel:hover{
    background-color: #0749a0;
}
.formInput{
    display: flex;
}
.buttonModalApply{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1em;
    min-width: 110px;
    padding: 7px 25px;
    border-radius: 10px;
    border: 1px solid #073571;
    background-color: white;
    color: black;
    font-family: "Times New Roman", sans-serif;
}
.buttonModalApply:hover{
    background-color: #ccd2e7;
}
.buttonModalApply:disabled{
    background-color: #5f6368;
    color: #8b8b8b;
}
.buttonModalCancel:disabled{
    background-color: #5f6368;
    color: #8b8b8b;
}

.titileContent{
    font-family: "Times New Roman,sans-serif", serif;
    font-size: 2em;
    position: relative;
    margin: 20px auto 0px auto;
}

.descriptionContent{
    font-family: "sans-serif";
    font-size: 1em;
    margin-top: 10px;
    font-style: italic;
}

.buttonText{
    font-family: "Times New Roman, sans-serif", serif;
    font-size: 1.2em;
    margin-top: 4px;
    color: #2178eb;
}

.buttonText:hover{
    color: #4e1d8a;
    cursor: pointer;
}

.wrapper{
    position: relative;
    margin: 0 30px 50px 0px;
    top: 20px;
}

._wrapper{
    padding: 0 heightWrapper(1.5);
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
}

._container{
    margin-top: heightWrapper(1.5);
    z-index: 0;
    width: $width;
}

._body{
}

.headGroup{
    background-color: #fff;
    margin: 0;
    top: 0;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 2;
    border-bottom: 1px solid rgb(179, 178, 178);
    box-shadow: 0px 0px 5px #8b8b8b;
}

._headGroup{
    position: relative;
    width: $width;
    height: heightWrapper(9);
    z-index: 2;
}

.head{
    left: 1%;
    right: 10px;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    position: absolute;
    width: 98%;
}

._head{
    background-color:#ffffff;
    position: fixed;
    padding-top: heightWrapper(2);
    padding-bottom: heightWrapper(2);
    width: $width;
    height: heightWrapper(5);
}

.screens{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
}

.footer {
    border-top: 1px solid #838383;
    box-shadow: 1px -1px 5px #8b8b8b,
    0px 0px 5px #8b8b8b,
    inset 0px 0px 0px #8b8b8b,
    inset 0px 0px 0px #8b8b8b;
    height: 150px;
    background-color: rgb(79, 77, 77);
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    padding: 20px;
}

.screensBody{
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}
.screens{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
}

.body_{
    min-height: heightWrapper(100);
}

.alignHorizontal{
    display: flex;
}

.logoFooter{
    width: widthWrapper(10);
}

.logoHead{
    height: 40px;
    left: 20px;
    margin: auto 0;
}
._logoHead{ position: absolute;
    height: heightWrapper(2.5);
    left: 20px;
}

.container{
    z-index: 0;
    position: relative;
    width: 100%;
    transition: left 1.3s;
}
.menuSider{
    z-index: 1;
    top: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: max-content;
    height: 100%;
    transition: width 1.3s;
}

.childrenMenuSider{
    font-size: 1em;
    height: 100%;
    top: 0;
    width: max-content;
    user-select: none;
    transition: width 2s !important;
}

.breadcrumb{
    color: black;
    font-size: 1em;
    font-family: "Times New Roman,sans-serif", serif;
    margin-top: 10px;
}

.title{
    font-size: 1em;
    font-family: "sans-serif";
}

.titleButton{
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "sans-serif";
    border: none;
    background-color: transparent;
    transition: width 1.3s;
}

.titleChildren{
    font-size: 0.9em;
}

.titleForm{
    font-family: "sans-serif";
    font-size: sizeWH(3);
}
